@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

body {
  background-color: rgb(219, 144, 52);
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  
  /*background-image:url(https://cdn.stocksnap.io/img-thumbs/960w/city-river_6YXSFZVOAZ.jpg);
  background-size: cover;*/
}
 
nav ul {
  width:100%;
  z-index: 2;
  background-color: rgba(255, 140, 0, 0);
  position: fixed;
  list-style: none;
  background-color: #618fd4;
  text-align: center;
  padding: 0;
  margin: 0;
  
}

nav li {
    
  font-size: 1.2em;
  line-height: 40px;
  /* height: 40px; */
  display: inline-block;
  margin-left: 2.5%;
 
}
 
nav a {
  text-decoration: none;
  color: #fff;
  display: block;
}

nav a:hover {
  background-color: #fff;
  color: #4a4a4f;
}


.container{
  height:60vh;
  font-size:calc(20% + 1vh);
  width:100%;
  background-image:  url("https://cdn.stocksnap.io/img-thumbs/960w/city-river_6YXSFZVOAZ.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
/* overflow:visible; */
}
.container img{
  
    width:100%;
  
}
.container h1{
 
    
  
    background-color: rgba(255, 140, 0, 0);
    /* margin-left: 70%; */
    color: rgb(255, 255, 255);
    font-size:calc(200% + 1vw);
    
    z-index: 1;
    position: absolute;
    top: 10%;
    right: 16px;
}
.container1{
  height: 60vh;
  font-size:calc(100% + 1vw);
  width:100%;
  background-image:  url("https://media.istockphoto.com/photos/looking-directly-up-at-the-skyline-of-the-financial-district-in-picture-id1215119911?k=20&m=1215119911&s=612x612&w=0&h=xnJVMO0gPzC1Joa9bTzVOQn74dmh6vWeIntDag7I3jQ=");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.container1 img{
  
    width:100%;
  
}
.container1 h2{
 
    
  
    background-color: rgba(255, 140, 0, 0);
    /* margin-left: 70%; */
    color: rgb(255, 255, 255);
    font-size:calc(200% + 1vw);
    
    z-index: 1;
    position: absolute;
    top: 10%;
    right: 16px;
}
.container2{
  height:50vh;
  font-size:calc(100% + 1vw);
  width:100%;
  background-image:  url("https://cdn.stocksnap.io/img-thumbs/960w/city-river_6YXSFZVOAZ.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  
}
.container2 img{
  
    width:100%;
  
}
.container2 h3{
 
    
  
    background-color: rgba(255, 140, 0, 0);
    /* margin-left: 70%; */
    color: rgb(255, 255, 255);
    font-size:calc(200% + 1vw);
    
    z-index: 1;
    position: relative;
    top: 10%;
    right: 16px;
}
  #left-about{
      padding-top: 10vh;
      width:33%;
      float:left;
      
      /* background-color: blue; */
  }
  #right-about{
      padding-top: 10vh;
      width:33%;
      float:right;
      
    
  }

      hr{
          border-top:1px solid #3a3a3a;
          width:100%;
          margin:5px 0;
      }
.left-about-heading{
  width: 70%;
  float:right;
  line-height: 20px;
  clear: both;
  
  
}
.right-about-heading{
  width:70%;
  float:left;
  line-height: 20px;
  clear: both;
 
  
}



.banner{
  width:100%;
    background-color: rgba(255, 140, 0, 0);
    position: relative;
    /* bottom: 20%;
    top: 80%; */
  font-size: 150%;
 text-align:center;

 color:white;
}
.test{
 
    background-color: rgba(124, 124, 202);
  position: absolute;
 
  font-size: 100px;
 
 text-align:center;

}

.gallery{
  
  clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
  
   
    
}
.gallery> img{
 
  width:100%;
}

  .social-networks{
  text-align:center;
  }
  
  .social-networks >li{
      display:inline;
  }
  .social-networks i{
      font-size:160%;
      margin: 1%;
      padding:5%;
      color:#3a3a3a;
  
  }



  
